@{
    ViewBag.Title = "Index";
}
<style>
    #tbl a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }
    .dataTables_length {
        display: none;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-11">
        <h2>
            User Accounts
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                Option Settings
            </li>
            <li class="breadcrumb-item active">
                <strong>
                    List
                </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        List
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link" href="@Url.Action("Index","Home")">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        <a href="@Url.Action("CreateWindowsAccount")" class="anchorAction btn btn-primary btn-bitbucket">
                            <i class="fa fa-plus"></i>
                            <span>&nbsp;Create Windows Account</span>
                        </a>
                        <a href="@Url.Action("Create")" class="anchorAction btn btn-primary btn-bitbucket">
                            <i class="fa fa-plus"></i>
                            <span>&nbsp;Create</span>
                        </a>
                    </p>

                    <table id="tbl" class="table table-striped table-no-bordered table-hover dataTable" style="width: 100%!important">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Domain</th>
                                <th>Username</th>

                                <th>Action</th>
                            </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal in " id="modalItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSnapTitle">Lube Truck Information </h4>
                <small class="font-bold">Modify details of this lube truck</small>
            </div>
            <div class="modal-body">
                <input id="itemId" type="hidden" />

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input class="form-control" id="Username" name="Username" />
                        @*<span asp-validation-for="Username" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">Firstname</label>
                        <input id="Firstname" name="Firstname" class="form-control" />
                        @*<span asp-validation-for="Firstname" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lastname</label>
                        <input id="Lastname" name="Lastname" class="form-control" />
                        @*<span asp-validation-for="Lastname" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label name="DepartmentId" class="control-label">Department</label>
                        <select id="DepartmentId" name="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                    <div>
                        <label name="RoleId" class="control-label">Roles</label>
                        <select id="RoleId" name="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Lube Access</label>
                        <select id="LubeAccess" style="width:400px" name="lubetags[]" class="form-control" asp-items="ViewBag.LubeTruckId"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dispenser Access</label>
                        <select id="DispenserAccess" style="width:400px" name="dispensertags[]" class="form-control" asp-items="ViewBag.DispenserId"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select id="Status" name="Status" style="width:400px" class="form-control">
                            <option value="1">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </form>


                <button data-dismiss="modal" class="btn btn-default">Close</button>
                <button id="btnSave" class="btn btn-primary" onclick="saveItem();">Save</button>


            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>


    $("#LubeAccess").select2({
        dropdownParent: $('#modalItem .modal-content'),
        multiple: true,
        width: '100%',
        theme: 'bootstrap',
    });
    $("#DispenserAccess").select2({
        dropdownParent: $('#modalItem .modal-content'),
        multiple: true,
        width: '100%',
        theme: 'bootstrap',
    });




    $(function () {
        loadDatatable("SEMIRARAMINING");
        loadDatatableLocal();
        $("div.dataTables_filter input").unbind();
        $("div.dataTables_filter input").keyup(function (e) {
            if (e.keyCode == 13) {

                $('#tbl').DataTable().search(this.value).draw();
            }
        });

    });
    function saveItem() {
        $id = $("#itemId").val();
        $username = $("#Username").val();
        $fname = $("#Firstname").val();
        $lname = $("#Lastname").val();
        $dept = $("#DepartmentId").val();
        $role = $("#RoleId").val();
        $lube = $("#LubeAccess").val();
        $disp = $("#DispenserAccess").val();
        $stat = $("#Status").val();

        $.ajax({
                url: "@Url.Action("SaveLocal")"
                    , method: "POST"
            , data: {
                id: $id, Username: $username, RoleId: $role, Lastname: $lname, Firstname: $fname, DepartmentId: $dept
                , Status: $stat
                , lubetags: $lube, dispensertags: $disp}
                    , dataType: 'json'
                    , success: function (responsedata) {
                        if (responsedata.status == "success") {
                            toastr["success"]("Data saved!", "<b>Success</b> ")
                            loadDatatableLocal();
                        } else {
                            toastr["error"](responsedata.message)
                            toastr.options = {
                                "timeOut": "0", "extendedTimeOut": "0"
                            }
                        }
                    }
               })


    }
    function loadDatatableLocal() {
        var data = [];

         $.ajax({
            url: "@Url.Action("getDataLocal")"
                , method: "POST"
                , dataType: 'json'

                , success: function (responsedata) {

                    if (responsedata.status == "success") {


                        for (var i = 0; i < responsedata.data.length; i++) {

                            var $id = responsedata.data[i].id;
                            var $username = responsedata.data[i].username
                            var $fname = responsedata.data[i].firstName
                            var $lname = responsedata.data[i].lastName
                            var $dept = responsedata.data[i].departmentId
                            var $role = responsedata.data[i].roleId
                            var $stat = responsedata.data[i].status
                            $lube = responsedata.data[i].lubeAccess
                            $disp = responsedata.data[i].dispenserAccess

                            var linkEdit = "@Url.Action("EditLocal", "Users")?id="+ $id;
                            var linkDelete = "@Url.Action("Delete", "Users")?id=" + $id;

                            $actions =
                                "<a title='Edit' data-id=" + $id + " data-username='" + $username +
                                "' data-fname='" + $fname + "' data-lname='" + $lname +
                            "' data-dept='" + $dept + "' data-status='" + $stat + "' data-role='" + $role +
                                "' data-lube='" + $lube + "' data-disp='" + $disp +
                                "' onclick='showmodal(this);'>Edit</a>";
                            //+
                            //    '<a title="Delete" onclick="deleteItem(\'' + $id + '\',\'' + responsedata.data[i].name + '\')">Delete</a>';

                            data.push([
                                  responsedata.data[i].id

                                //, responsedata.data[i].mail
                                //, responsedata.data[i].domain
                                , responsedata.data[i].username
                                , responsedata.data[i].name
                                , responsedata.data[i].department
                                , responsedata.data[i].role
                                , responsedata.data[i].statusName


                                , $actions]);

                        }



                        if ($.fn.DataTable.isDataTable('#tblLocal')) {
                            $('#tblLocal').DataTable().destroy();
                        }
                        $('#tblLocal').DataTable({
                            "data": data,
                            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                            "columnDefs": [

                                {
                                    visible: false,
                                    targets: [0]
                                },
                            ],
                        });


                    } else {
                    swal("Error!" + responsedata.message, "Please try again", "error");
                    }

                }
        });

    }


    function loadDatatable(_domain) {

        var data = [];

         $.ajax({
                        url: "@Url.Action("GetUserList", "Users")"
                            , method: "POST"
                            , dataType: 'json'
                            , data: { domain: _domain }
                            , success: function (responsedata) {

                                if (responsedata.status == "success") {


                                    for (var i = 0; i < responsedata.data.length; i++) {

                                        var $id = responsedata.data[i].id;
                                        var linkDetails = "@Url.Action("Details", "PO")?id="+ $id;
                                        var linkEdit = "@Url.Action("Edit", "PO")?id="+ $id;
                                        var linkDelete = "@Url.Action("Delete", "PO")?id=" + $id;

                                        var $stat = (responsedata.data[i].status == "Enabled") ? '<button class="btn btn-danger" title="Status" type="button" style="  font-size: 12px; width: 120px"  onclick="ChangeStatus(\'' + responsedata.data[i].username + '\',\'' + responsedata.data[i].mail
                                            + '\',\'' + responsedata.data[i].status
                                            + '\',\'' + responsedata.data[i].domain
                                            + '\',\'' + responsedata.data[i].name
                                            + '\',\'' + responsedata.data[i].id
                                            + '\')">' +
                                            '<i class="mdi mdi-account-off"></i>Disable</button>' :
                                            '<button class="btn btn-success" title="Status" type="button" style="  font-size: 12px; width: 120px" onclick="ChangeStatus(\'' + responsedata.data[i].username + '\',\'' + responsedata.data[i].mail + '\',\''
                                            + responsedata.data[i].status + '\',\''
                                            + responsedata.data[i].domain + '\',\''
                                            + responsedata.data[i].name
                                            + '\',\'' + responsedata.data[i].id
                                            + '\')" >' +
                                            '<i class="mdi mdi-account-check"></i> Enable</button>';

                                        var $name = (responsedata.data[i].status == "Disabled") ? responsedata.data[i].name : '<a href="@Url.Action("Edit", "Users")?id=' + responsedata.data[i].id + '">' + responsedata.data[i].name + ' </a>';



                                        data.push([
                                              responsedata.data[i].id
                                            , $name
                                            , responsedata.data[i].mail
                                            , responsedata.data[i].domain
                                            , responsedata.data[i].username

                                            , $stat]);

                                    }
                                    if ($.fn.DataTable.isDataTable('#tbl')) {
                                        $('#tbl').DataTable().destroy();
                                    }
                                    $('#tbl').DataTable({
                                        "data" : data,
                                        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                                        "columnDefs": [
                                            //{ className: "td-actions text-right", targets: 1}
                                            {
                                                visible: false,
                                                targets: [0]
                                            },
                                        ],
                                    });
                                } else {
                                   swal("Error!" + responsedata.message, "Please try again", "error");
                                }

                            }
        });





    }

            function ChangeStatus(Username,Email,Status,Domain,Name,Id) {
                swal({
                    title: "Change Status",
                    text: "Change status of this user?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Proceed",
                    closeOnConfirm: false
                }, function () {
                        $.ajax({
                            url: "@Url.Action("EnableDisableUser", "Users")",
                            method: "POST",
                            dataType: "json",
                            data: {
                                'Id' : Id,
                                'UserName': Username,
                                'Domain': Domain,
                                'Status': Status,
                                'Name': Name,
                                'Email': Email,


                            }
                            , success: function (responsedata) {
                                if (responsedata.status == "success") {
                                    swal("Done!", "New status set for this particular user", "success");

                                    loadDatatable($('#Domain').val());
                                } else {

                                    toastr["error"](responsedata.message)
                                    toastr.options = {
                                        "closeButton": true,
                                        "showDuration": "3000",
                                    }
                                };
                            }, error: function ($xhr, textStatus, errorThrown) {
                                toastr["error"](errorThrown, "Error")
                                toastr.options = {
                                    "closeButton": true,
                                    "showDuration": "3000",
                                }
                            }
                        });
                });
            }





    $('#Domain').change(function () {
        loadDatatable($(this).val())
    });

    function showmodal(obj) {

        $id = $(obj).attr('data-id');
        $username = $(obj).attr('data-username');
        $fname = $(obj).attr('data-fname');
        $lname = $(obj).attr('data-lname');
        $dept = $(obj).attr('data-dept');
        $role = $(obj).attr('data-role');

        $lube = $(obj).attr('data-lube');
        $disp = $(obj).attr('data-disp');
        $status = $(obj).attr('data-status');

        var lubeAccess = $lube
        var dispenserAccess = $disp
        var lubeTest = lubeAccess.split(',');
        var dispenserTest = dispenserAccess.split(',');

        $("#LubeAccess").val("");
        $("#DispenserAccess").val("");

        $("#itemId").val($id);
        $("#Username").val($username);
        $("#Status").val($status);
        $("#Firstname").val($fname);
        $("#Lastname").val($lname);
        $("#DepartmentId").val($dept);
        $("#RoleId").val($role);

        $('#LubeAccess').val(lubeTest).trigger('change');
        $('#DispenserAccess').val(dispenserTest).trigger('change');

        $('#modalItem').modal('show');

    }


    function deleteItem(id, desc) {

        if (confirm('This will delete item ' + desc + '. Continue?')) {
            $.ajax({
            url: "@Url.Action("Delete")"
            , method: "POST"
            , data: { id: id }
            , dataType: 'json'
            , success: function (responsedata) {
               if (responsedata.status == "success") {
                   toastr["success"]("Item Deleted","<b>Success</b> ")
                   loadDatatableLocal();


                } else {

                    toastr["error"](responsedata.message)
                    toastr.options = {
                        "closeButton": true,
                        "showDuration": "3000",
                    }
                }
            }
        })

        }
    }




    </script>
    }




